<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CH Optimize</title>
</head>
<body>
<h1>CH Extreme Deck Optimizer</h1>
<b>Card packs</b>:<br/>
{% if card_packs %}
    <ul>
        {{ card_packs|unordered_list }}
    </ul>
{% else %}
    No card packs loaded
{% endif %}
<form method="post">
    {% csrf_token %}
    <label><b>Character archetype</b>:<br/><br/>
        <select name="race">
            <option value="dwarf"{% if race == 'dwarf' %} selected{% endif %}>Dwarf</option>
            <option value="human"{% if race == 'human' %} selected{% endif %}>Human</option>
            <option value="elf"{% if race == 'elf' %} selected{% endif %}>Elf</option>
        </select>
        <select name="class">
            <option value="warrior"{% if class == 'warrior' %} selected{% endif %}>Warrior</option>
            <option value="priest"{% if class == 'priest' %} selected{% endif %}>Priest</option>
            <option value="wizard"{% if class == 'wizard' %} selected{% endif %}>Wizard</option>
        </select>
    </label><br/><br/>
    <label>
        <b>Optimize for</b>:<br/><br/>
        <textarea name="card-values">{{ values }}</textarea>
    </label><br/><br/>
    <input type="submit" value="Optimize">
</form>
{% if result %}
    <br/>
    <b>Result</b>:
    <div style="background-color: #dff">{{ result|linebreaks }}</div>
{% endif %}
</body>
</html>
