aiohttp==1.0.5
async-timeout==1.2.1
certifi==2017.4.17
chardet==3.0.4
discord.py==0.16.8
dj-database-url==0.4.1
Django==1.11
gunicorn==19.6.0
idna==2.5
multidict==3.1.3
psycopg2==2.6.2
pytz==2017.2
requests==2.9.1
urllib3==1.21.1
websockets==3.3
whitenoise==2.0.6
