<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CH Battles</title>
</head>
<body>
<h1>CH Battle History Statistics</h1>
<form method="post">
    {% csrf_token %}
    <label>
        <b>Generate</b>:
        <select name="to-generate">
            {% for value, name in generate_options %}
                <option value="{{ value }}"{% if to_generate == value %} selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>
    </label><br/><br/>
    <label>
        <b>Player name</b>:
        <input type="text" name="player-name" value="{{ player_name }}">
    </label>
</form>
{% if result %}
    <br/>
    <b>Result</b>:
    <div style="background-color: #dff">{{ result | linebreaks }}</div>
{% endif %}
</body>
</html>